<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.Core" version="0.9.8" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.Wpf.Core" version="0.9.8" targetFramework="net48" />
  <package id="OpenTK" version="3.3.1" targetFramework="net48" />
  <package id="OpenTK.GLWpfControl" version="3.3.0" targetFramework="net48" />
  <package id="SkiaSharp" version="2.88.8" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Linux.NoDependencies" version="2.88.8" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.8" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.8" targetFramework="net48" />
  <package id="SkiaSharp.Views.Desktop.Common" version="2.88.8" targetFramework="net48" />
  <package id="SkiaSharp.Views.WPF" version="2.88.8" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.7.3" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>